<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/">
<channel>
	<title>{{config.title}}</title>
	<atom:link href="{{config.site_domain}}/feed" rel="self" type="application/rss+xml" />
	<link>{{config.site_domain}}</link>
	<description><![CDATA[{{config.subtitle}}]]></description>
	<lastBuildDate>Sat, 12 Jan 2013 04:13:15 +0000</lastBuildDate>
	<language>zh-CN</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>{{config.site_domain}}</generator>
	{%for item in rss %}
		<item>
		<title>{{item.title|e}}</title>
		<link>{{config.site_domain}}{{item.url}}</link>
		<comments>{{config.site_domain}}{{item.url}}#comments</comments>
		<pubDate>Thu, 06 Sep 2012 12:15:09 +0000</pubDate>
		<dc:creator>yibin</dc:creator>
		{%for category in item.category%}
			<category><![CDATA[{{category.category}}]]></category>
		{%endfor%}
		<guid isPermaLink="false">{{config.site_domain}}{{item.url}}</guid>
		<description><![CDATA[{{item.content|html|truncate(200)}}]]></description>
		<content:encoded><![CDATA[{{item.content|html}}]]></content:encoded>
		
		<slash:comments>{{item.commentcount}}</slash:comments>
		</item>
	{%endfor%}
	</channel>
</rss>
