<<<<<<< HEAD
*
{
margin:0;
padding: 0;
font-size:12px;
font-family: verdana;
}

#main,#header
{
width:98%;
margin:0 auto;
text-align:left;
padding-top:10px;
}

#main dt
{
    font-size:12pt;
    font-weight:bold;
    color:#666;
    border-bottom:solid 2px #B5CFD9;
    padding:5px;
    margin:5px 0;
}
#main dd
{
    color:#666;
    padding:6px;
    border-bottom:dotted 1px #ccc;
}

#main p
{
    margin:5px;
    padding:5px;
}
#header
{
height:80px;
position: relative;
}
#userinfo
{
position: absolute;
right: 0;
bottom: 0;
}

code
{
    font-family:Courier New;
    font-size:11px;
    
}

a{
text-decoration: none;
color:#000;
}
td a:link
{
color:#000;
}
a:hover
{
text-decoration: underline;
}

.loginMain
{

width:350px;
margin:0 auto;
margin-top:150px;
border:solid 1px #69F;
}
.loginMain h3
{
background: #69F;
padding: 5px 0;

}

.part
{
  margin:10px 0;
}

td
{
padding:5px;
}
em
{
font-style: normal;
color:red;
font-size:12px;
font-weight: bold;
}
.error
{
color:red;
padding:5px;
margin:5px 0;
width:350px;
}

input.text,input.button
{
  border:solid 1px #369;
  width:150px;
  font-family: verdana;
  font-size:12px;
  padding: 5px 2px;
}
input.textsmall
{
   border:solid 1px #369;
  width:80px;
  font-family: verdana;
  font-size:11px;
   padding:3px;
}
textarea.textarea
{
border:solid 1px #369;
  
  font-family: verdana;
  font-size:12px;
  padding: 5px 2px;
}
input.submit
{
    background:transparent;
    border:none;
    cursor:pointer;
}
select
{
font-family: verdana;
font-size:12px;
}
option
{
padding-left: 10px;
}
optgroup
{
font-style: normal;
}
input.button
{
font-size: 12px;
width:80px;
cursor:pointer;
height: 24px;
background: url(../images/bg_button.gif) left center repeat-x;
}

table.list,table.edit
{
border:solid 1px #369;
width:100%;
}
.curr
{
background: #efefef;
}
table.list thead th,table.edit thead th
{
background: #369;
font-weight: bold;
padding: 4px 0;
color:#fff;
}
.list tfoot td
{
   background: #369;
font-weight: bold;
padding: 4px 0;
color: #fff;
}


a.up
{
background: url(../images/arrow_up.jpg) no-repeat left center;
padding-left: 18px;
display:block;
width:80px;
height:20px;
}

.info
{
padding:5px;
margin:5px 0;
color:red;
border-bottom: solid 5px #efefef;
}
.info  li
{
  padding: 2px 2px 2px 5px;
}

.info ol
{
list-style-position: inside;
}

.page
{
padding-left:10px;
}

/*page*/
.page ul
{
list-style: none;
}
.page ul li{
float:left;
margin:2px;
}
.page ul li a,.page ul li.current{
display: block;
width:20px;
padding: 2px;
text-align: center;
border:solid 1px #fff;
font-size:11px;
}
.page ul li.current
{
  color:#000;
  border-color: transparent;
}

/*tooltip*/
.tooltip
{
  border:solid 1px #96c2f1;
background:#eff7ff;
  width:200px;
  padding: 10px;
  overflow: auto;
  position: absolute;

  line-height: 150%;
}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #505050;
    background-color: #ece9d8;
    border: 1px solid #AAAAAA;
    }


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
    }


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
    }


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
    }


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
    }


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
    border: 1px solid #ece9d8;
    }


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    }


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
    background-color: #aca998;
    border: 1px solid #888888;
    cursor: pointer;
    color: red;
    }


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
    }


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
    }


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
    }


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: white;
    }


/* additional style information for the text that indicates the month and year */
.dpTitleText {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    }


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
    color: 4060ff;
    font-weight: bold;
    }


/* the forward/backward buttons at the top */
.dpButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
    background-color:Transparent;
    font-weight: bold;
    padding: 0px;
    border: none;
    cursor: pointer;
    }


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding:2px;
    background-color:Transparent;
    }
    
#summaryInfo
{
position:fixed;

*position:absolute;
right:20px;
width:180px;

top:0px;
border:solid 1px #96c2f1;
background:#eff7ff;
}
#summaryInfo p{
margin:4px 2px;
padding: 2px;
}

.execute
{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 5px;
	font-size:12px;
	color:#000;
}
#optimize
{
    position:absolute;
    width:350px;
    padding:3px;
    font-size:12px;
    font-family:'courier new';
    border:#EFEFEF solid 1px;
    top:0;
    left:200px;
}
.Paginator .prev,.Paginator a,.Paginator .thispage
{
    margin:3px 5px;
}





=======
*
{
margin:0;
padding: 0;
font-size:12px;
font-family: verdana;
}

#main,#header
{
width:98%;
margin:0 auto;
text-align:left;
padding-top:10px;
}

#main dt
{
    font-size:12pt;
    font-weight:bold;
    color:#666;
    border-bottom:solid 2px #B5CFD9;
    padding:5px;
    margin:5px 0;
}
#main dd
{
    color:#666;
    padding:6px;
    border-bottom:dotted 1px #ccc;
}

#main p
{
    margin:5px;
    padding:5px;
}
#header
{
height:80px;
position: relative;
}
#userinfo
{
position: absolute;
right: 0;
bottom: 0;
}

code
{
    font-family:Courier New;
    font-size:11px;
    
}

a{
text-decoration: none;
color:#000;
}
td a:link
{
color:#000;
}
a:hover
{
text-decoration: underline;
}

.loginMain
{

width:350px;
margin:0 auto;
margin-top:150px;
border:solid 1px #69F;
}
.loginMain h3
{
background: #69F;
padding: 5px 0;

}

.part
{
  margin:10px 0;
}

td
{
padding:5px;
}
em
{
font-style: normal;
color:red;
font-size:12px;
font-weight: bold;
}
.error
{
color:red;
padding:5px;
margin:5px 0;
width:350px;
}

input.text,input.button
{
  border:solid 1px #369;
  width:150px;
  font-family: verdana;
  font-size:12px;
  padding: 5px 2px;
}
input.textsmall
{
   border:solid 1px #369;
  width:80px;
  font-family: verdana;
  font-size:11px;
   padding:3px;
}
textarea.textarea
{
border:solid 1px #369;
  
  font-family: verdana;
  font-size:12px;
  padding: 5px 2px;
}
input.submit
{
    background:transparent;
    border:none;
    cursor:pointer;
}
select
{
font-family: verdana;
font-size:12px;
}
option
{
padding-left: 10px;
}
optgroup
{
font-style: normal;
}
input.button
{
font-size: 12px;
width:80px;
cursor:pointer;
height: 24px;
background: url(../images/bg_button.gif) left center repeat-x;
}

table.list,table.edit
{
border:solid 1px #369;
width:100%;
}
.curr
{
background: #efefef;
}
table.list thead th,table.edit thead th
{
background: #369;
font-weight: bold;
padding: 4px 0;
color:#fff;
}
.list tfoot td
{
   background: #369;
font-weight: bold;
padding: 4px 0;
color: #fff;
}


a.up
{
background: url(../images/arrow_up.jpg) no-repeat left center;
padding-left: 18px;
display:block;
width:80px;
height:20px;
}

.info
{
padding:5px;
margin:5px 0;
color:red;
border-bottom: solid 5px #efefef;
}
.info  li
{
  padding: 2px 2px 2px 5px;
}

.info ol
{
list-style-position: inside;
}

.page
{
padding-left:10px;
}

/*page*/
.page ul
{
list-style: none;
}
.page ul li{
float:left;
margin:2px;
}
.page ul li a,.page ul li.current{
display: block;
width:20px;
padding: 2px;
text-align: center;
border:solid 1px #fff;
font-size:11px;
}
.page ul li.current
{
  color:#000;
  border-color: transparent;
}

/*tooltip*/
.tooltip
{
  border:solid 1px #96c2f1;
background:#eff7ff;
  width:200px;
  padding: 10px;
  overflow: auto;
  position: absolute;

  line-height: 150%;
}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #505050;
    background-color: #ece9d8;
    border: 1px solid #AAAAAA;
    }


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
    }


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
    }


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
    }


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
    }


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
    border: 1px solid #ece9d8;
    }


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    }


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
    background-color: #aca998;
    border: 1px solid #888888;
    cursor: pointer;
    color: red;
    }


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
    }


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
    }


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
    }


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: white;
    }


/* additional style information for the text that indicates the month and year */
.dpTitleText {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    }


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
    color: 4060ff;
    font-weight: bold;
    }


/* the forward/backward buttons at the top */
.dpButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
    background-color:Transparent;
    font-weight: bold;
    padding: 0px;
    border: none;
    cursor: pointer;
    }


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding:2px;
    background-color:Transparent;
    }
    
#summaryInfo
{
position:fixed;

*position:absolute;
right:20px;
width:180px;

top:0px;
border:solid 1px #96c2f1;
background:#eff7ff;
}
#summaryInfo p{
margin:4px 2px;
padding: 2px;
}

.execute
{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 5px;
	font-size:12px;
	color:#000;
}
#optimize
{
    position:absolute;
    width:350px;
    padding:3px;
    font-size:12px;
    font-family:'courier new';
    border:#EFEFEF solid 1px;
    top:0;
    left:200px;
}
.Paginator .prev,.Paginator a,.Paginator .thispage
{
    margin:3px 5px;
}





>>>>>>> 903cf25d870f2cbcd68c2b4adc2f597bf9c9405a
