
{% extends "_admin_base.html" %}
{%block body%}
<form action="" method="POST">




        <table class="lst" style="width:80%">
            <tr>
                <td>Id:</td><td>自动生成</td>
            </tr>
            <tr>
                <td>标题:</td><td><input type="text" class="text" name="title" placeholder="标题" /></td>
            </tr>
            <tr>
                <td>分类:</td><td><input type="text" class="text" name="input_category" placeholder="多个用,分开" />

				{%for c in category%}
				<label>
		<input type="checkbox" name="category" value="{{c.category}}" />{{c.category}}
		</label>
	{%endfor%}
	</td>
            </tr>
            <tr>
                <td>标签:</td><td>
<input type="text" name="input_tag" placeholder="多个用,分开" class="text"/>
{%for tag in tags%}
		<label>
		<input type="checkbox" name="tag" value="{{tag.tag}}" />{{tag.tag}}
		</label>
	{%endfor%}
</td>
            </tr>
            <tr>
                <td>状态:</td><td>
					<select name="status">
					<option value="0">发布</option>
					<option value="1">草稿</option>
					</select>
				</td>
            </tr>
            <tr>
                <td>评论:</td>
                <td>
						<input type="radio" name="commentstatus" value="0" checked="checked"/>允许评论 
						<input type="radio" name="commentstatus" value="1" />关闭评论 
                </td>
            </tr>

<tr>
                <td>密码:</td>
                <td>
							<input type="text" class="text" name="password" placeholder="访问密码" />
                </td>
            </tr>

            <tr>
                <td>别名:</td>
                <td>
                            <input type="text" class="text" name="alias" placeholder="数字下画线和字母" />
                </td>
            </tr>

            <tr>
                <td>类型:</td>
                <td>
                        <select name="posttype">
                            <option value="0">日志</option>
                            <option value="1">页面</option>
                        </select>
                </td>
            </tr>


            <tr>
                    <td colspan="2">

 <div id="in"><textarea name="content" cols="90" rows="30" id="code" ></textarea></div>
                    </td>
            </tr>

 <tr>
                <td colspan="2">
                <div id="attachments">
                    <ul>

                    </ul>
                    <div class="clear" />
                </div>
               
                </td>
            </tr>

            <tr>
                <td>附件:</td><td><button id="uploadfile" class="button">上传</button></td>
            </tr>
            <tr>
                <td colspan="2">
                   <input type="submit"  value="提交" class="button"/>
                </td>
            </tr>
        </table>




           
              

</form>

<script type="text/javascript">

    var URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
    navigator.saveBlob = navigator.saveBlob || navigator.msSaveBlob || navigator.mozSaveBlob || navigator.webkitSaveBlob;
    window.saveAs = window.saveAs || window.webkitSaveAs || window.mozSaveAs || window.msSaveAs;

    // Because highlight.js is a bit awkward at times
    var languageOverrides = {
      js: 'javascript',
      html: 'xml'
    }

    marked.setOptions({
      highlight: function(code, lang){
        if(languageOverrides[lang]) lang = languageOverrides[lang];
        return hljs.LANGUAGES[lang] ? hljs.highlight(lang, code).value : code;
      }
    });

    function update(e){
      return;
      var val = e.getValue();

      setOutput(val);

      clearTimeout(hashto);
      hashto = setTimeout(updateHash, 1000);
    }

    function setOutput(val){
      val = val.replace(/<equation>((.*?\n)*?.*?)<\/equation>/ig, function(a, b){
        return '<img src="http://latex.codecogs.com/png.latex?' + encodeURIComponent(b) + '" />';
      });

      document.getElementById('out').innerHTML = marked(val);
    }

    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
      mode: 'gfm',
      lineNumbers: true,
      matchBrackets: true,
      lineWrapping: true,
      theme: 'default',
      onChange: update
    });

    document.addEventListener('drop', function(e){
      e.preventDefault();
      e.stopPropagation();

      var theFile = e.dataTransfer.files[0];
      var theReader = new FileReader();
      theReader.onload = function(e){
        editor.setValue(e.target.result);
      };

      theReader.readAsText(theFile);
    }, false);

    function save(){
      var code = editor.getValue();
      var blob = new Blob([code], { type: 'text/plain' });
      saveBlob(blob);
    }

    function saveBlob(blob){
      var name = "untitled.md";
      if(window.saveAs){
        window.saveAs(blob, name);
      }else if(navigator.saveBlob){
        navigator.saveBlob(blob, name);
      }else{
        url = URL.createObjectURL(blob);
        var link = document.createElement("a");
        link.setAttribute("href",url);
        link.setAttribute("download",name);
        var event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, true, window, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
        link.dispatchEvent(event);
      }
    }

    document.addEventListener('keydown', function(e){
      if(e.keyCode == 83 && (e.ctrlKey || e.metaKey)){
        e.preventDefault();
        save();
        return false;
      }
    })

    var hashto;

    function updateHash(){
      window.location.hash = btoa(RawDeflate.deflate(unescape(encodeURIComponent(editor.getValue()))))
    }

    if(window.location.hash){
      var h = window.location.hash.replace(/^#/, '');
      if(h.slice(0,5) == 'view:'){
        setOutput(decodeURIComponent(escape(RawDeflate.inflate(atob(h.slice(5))))));
        document.body.className = 'view';
      }else{
        editor.setValue(decodeURIComponent(escape(RawDeflate.inflate(atob(h)))))
        update(editor);
        editor.focus();
      }
    }else{
      update(editor);
      editor.focus();
    }

   
$("#uploadfile").upload("/admin/upload/?callback=test", "filetoupload", function () {});
function uploadCallBack(data){
    if(data.isimage)
    {
        $('#attachments ul').append('<li><img data="'+data.url+'" src="'+data.url+'" data-isimage="1" /></li>');
    }
    else
    {
        $('#attachments ul').append('<li><img data="'+data.url+'" data-isimage="0" src="http://filestore.b0.upaiyun.com/yibin.im/static/images/attachment.png" /></li>');   
    }
}


</script>

{%endblock%}