{% extends "_admin_base.html" %}
{%block body%}

<form action="" method="POST">




        <table class="lst" style="width:80%">
            <tr>
                <td>Id:</td><td>{{post.id}}</td>
            </tr>
            <tr>
                <td>标题:</td><td><input type="text" class="text" name="title" placeholder="标题" value="{{post.title}}" /></td>
            </tr>
            <tr>
                <td>分类:</td><td><input type="text" class="text" name="input_category" placeholder="多个用,分开" />

				{%for c in category%}
				<label>
		<input type="checkbox" name="category" value="{{c.category}}" {%if c.category in chose_category%}checked="checked"{%endif%} />{{c.category}}
		</label>
	{%endfor%}
	</td>
            </tr>
            <tr>
                <td>标签:</td><td>
<input type="text" name="input_tag" placeholder="多个用,分开" class="text"/>
{%for tag in tags%}
		<label>
		<input type="checkbox" name="tag" value="{{tag.tag}}" {%if tag.tag in chose_tag%}checked="checked"{%endif%}/>{{tag.tag}}
		</label>
	{%endfor%}
</td>
            </tr>
            <tr>
                <td>状态:</td><td>
					<select name="status">
					<option value="0" {%if post.status==0%}selected="selected"{%endif%}>发布</option>
					<option value="1" {%if post.status==1%}selected="selected"{%endif%}>草稿</option>
					</select>
				</td>
            </tr>
            <tr>
                <td>评论:</td>
                <td>
						<input type="radio" name="commentstatus" value="0"  {%if post.commentstatus==0%}checked="checked"{%endif%}/>允许评论 
						<input type="radio" name="commentstatus" value="1"  {%if post.commentstatus==1%}checked="checked"{%endif%}/>关闭评论 
                </td>
            </tr>

<tr>
                <td>密码:</td>
                <td>
							<input type="text" class="text" name="password" placeholder="访问密码" value="{{post.password}}"  />
                </td>
            </tr>
            <tr>
                <td>别名:</td>
                <td>
                            <input type="text" class="text" name="alias" value="{{post.alias}}" placeholder="数字下画线和字母" />
                </td>
            </tr>

            <tr>
                <td>类型:</td>
                <td>
                        <select name="posttype">
                            <option value="0" {%if post.posttype==0%}selected="selected"{%endif%}>日志</option>
                            <option value="1" {%if post.posttype==1%}selected="selected"{%endif%}>页面</option>
                        </select>
                </td>
            </tr>

 <tr>
                <td>
                    内容(MarkDown):
                </td>
                <td>
                    <!--
				    <div id="epiceditor" style="height:350px;"></div>
                -->
                    <textarea name="content" cols="90" rows="30" id="blogcontent"  >{{post.content}}</textarea>
                    <div id="attachments">
                    <ul>

                    </ul>
                    <div class="clear" />
                </div>
                </td>
            </tr>


            <tr>
                <td>附件:</td><td><button id="uploadfile" class="button">上传</button></td>
            </tr>

            <tr>
                <td colspan="2">
                   <input type="submit"  value="提交" class="button"/>
                </td>
            </tr>
        </table>



</form>

<script type="text/javascript">
$(function(){
    $("body").markdown({
        'textarea' : $( "#blogcontent" )
    });
});
$("#uploadfile").upload("/admin/upload/?callback=test", "filetoupload", function () {});
function uploadCallBack(data){
    if(data.isimage)
    {
        $('#attachments ul').append('<li><img data="'+data.url+'" src="'+data.url+'" data-isimage="1" /></li>');
    }
    else
    {
        $('#attachments ul').append('<li><img data="'+data.url+'" data-isimage="0" src="http://filestore.b0.upaiyun.com/yibin.im/static/images/attachment.png" /></li>');   
    }
}


</script>
{%endblock%}