
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{config.static_domain}}/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{config.static_domain}}/static/css/dtree.css" />
    <link rel="stylesheet" type="text/css" href="{{config.static_domain}}/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{config.static_domain}}/static/css/menu.css" />

    <script type="text/javascript" src="{{config.static_domain}}/static/js/jquery.js"></script>
    <script type="text/javascript" src="{{config.static_domain}}/static/js/ddaccordion.js"></script>
    <script type="text/javascript">
        ddaccordion.init({
            headerclass: "submenuheader", //Shared CSS class name of headers group
            contentclass: "submenu", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: false, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc] [] denotes no content
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["suffix", "<img src='{{config.static_domain}}/static/img/plus.gif' class='statusicon' />", "<img src='{{config.static_domain}}/static/img/minus.gif' class='statusicon' />"], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (headers, expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })
    </script>
</head>
<body id="leftBody">
    <div id="wrap">
        <div id="container">
            <div class="glossymenu">
                

                <a class="menuitem submenuheader" href="#">内容管理</a>
                <div class="submenu">
                    <ul>
						<li>
                            <a href="/admin/post/add/" target="mainframe">添加文章</a></li>
                        </li> 
                        <li>
                            <a href="/admin/post/" target="mainframe">文章列表</a></li>
                        </li> 
                        <li>
                            <a href="/admin/comment/" target="mainframe">评论列表</a></li>
                        </li>
                    </ul>
                </div>
                 <a class="menuitem submenuheader" href="#">站点配置</a>
                <div class="submenu">
                    <ul>
                        <li>
                            <a href="/admin/config/" target="mainframe">站点配置</a></li>
                        </li> 
                        <li>
                            <a href="/admin/password/" target="mainframe">修改密码</a></li>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

