{% extends "_admin_base.html" %}
{%block body%}

<form action="" method="POST">
<h3 class="moduleTitle">修改密码</h3>
        <table class="lst" style="width:800px">
            <tr>
                <td>邮箱地址:</td><td><input type="email" class="text" placeholder="请输入邮箱地址"  name="email" value="{{user.email}}" /></td>
            </tr>
            <tr>

                <td>当前密码：</td><td><input type="password" placeholder="请输入当前密码" class="text" name="password" /></td>
            </tr>
            <tr>
                <td>新密码:</td><td><input type="password" class="text" placeholder="请输入新密码"  name="newpassword"/></td>
            </tr>
            <tr>
                <td>确认密码:</td><td><input type="password" class="text" placeholder="请再次输入新密码"  name="confirmpassword" /></td>
            </tr>
           
            <tr>
                <td colspan="2">
                   <input type="submit"  value="提交" class="button"/>
                </td>
            </tr>
        </table>



</form>

{%endblock%}